<!DOCTYPE html>
<html>
<head>
   

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<script type="text/javascript" src="main.js"></script>-->
        <script type="text/javascript" src="~/Js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Js/bootstrap.modaldrawer.js"></script>
        

        <!--CSS-->
        <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        
        //
        <link rel="stylesheet" type="text/css" href="~/Style/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Style/bootstrap.modaldrawer.css" />
        
        
        <!--
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 1200px)" href="Style/main.css"/>
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 992px) and (max-width: 1199px)" href="Style/md-screen.css"/>
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 780px) and (max-width: 991px)" href="Style/sm-screen.css"/>
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 779px)" href="Style/xs-screen.css"/>-->
        <!--<link rel="stylesheet" type="text/css" href="Style/helpButton.css"/>-->
        <link rel="stylesheet" type="text/css" href="~/Style/radioButton.css" />
        <link href='https://dgos7ltvhdxe.cloudfront.net/s3/uswitch-assets-eu/fonts/v18/stylesheet.css' media='all' rel='stylesheet' type='text/css' />
    
        <style type="text/css">
            .container {
                margin-top: 10%;
            }
        </style>


        <!--Javascript-->
        
        <!---<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <script type="text/javascript" src="~/Js/modernizr.js"></script>
        <script type="text/javascript" src="~/Js/jquery.browser.min.js"></script>
        
        <!--<script type="text/javascript" src="~/Js/jquery.runner.js"></script>-->
        
        <title>Sample Decision Matrix</title>


    
    </head>
<body>
   
    <!--<div class="container body-content">-->
        @RenderBody()
        
        <!--<footer style="bottom:10px">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
